$primary: #111B54;
$white: #ffffff;
$grey: #efefef;

body{
    overflow: hidden;
    font-family: 'Roboto';
    font-weight: 300;
    color: $primary
}
::-webkit-scrollbar {
    display: none;
}
#app-container{
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}
.navbar{
    height: 3rem;
}

.bg-primary{
    background-color: $primary !important;
}
.bg-grey{
    background-color: $grey !important;
}
.bg-white{
    background-color: $white !important;
}

#sidebar-container{
    min-height: 100vh;

    .logo{
        padding: .875rem 1.25rem;
        height: 4rem;

        img{
            height: 100%;
            width: auto;
        }
    }
    .menu{
        width: 12rem;
        a{
            text-decoration: none;
        }
    }
}

.cantidad-item{
    max-width: 30px;
   
}

i{
    cursor: pointer;
}

table{
    vertical-align: middle;
    td{
        text-align: center;
        &:nth-child(2){
            text-align: start;
        }
    }
    th{
        text-align: center;
        &:nth-child(2){
            text-align: start;
        }
    }
}

.boton-container{
    text-align: end;
}
#tarea-agregar-categoria{
    background-color: rgb(231, 241, 255);
    font-size: 1rem;
    padding: .8rem;
    input{
        max-width: 50%;
    }
}
#valorTotal{
    color: darkgreen;
    font-size: 1.2rem;
}